.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2c2f;
  color: white;
  padding: 0 92px 148px;
}

.main__know-friends-locations {
  width: 100%;
  height: 100%;
  max-width: 984px;
  margin-bottom: 92px;
}

.main__title {
  margin: 0 0 20px 0;
  font-size: 54px;
  line-height: 58px;
  max-width: 828px;
}

.main__quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 705px;
  margin-bottom: 32px;
}

.main__quote-text {
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 9px 0;
}

.main__quote-author {
  font-size: 24px;
  line-height: 34px;
  margin: 0 16px 0 0;
}

.main__description {
  max-width: 720px;
  font-size: 16px;
  line-height: 26.08px;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 0 24px 64px;
  }

  .main__know-friends-locations {
    margin-bottom: 64px;
  }

  .main__title {
    margin: 0 0 58px 0;
  }
}

@media screen and (max-width: 720px) {
  .main {
    padding: 0 16px 38px;
  }

  .main__know-friends-locations {
    margin-bottom: 38px;
  }

  .main__title {
    font-size: 2rem;
    line-height: 35px;
    margin: 0 0 58px 0;
  }

  .main__quote-text {
    line-height: 30px;
    margin: 0 0 55px 0;
  }

  .main__quote-author {
    margin: 0 18px 0 0;
  }
}
